.card-img-overlay {
  background-color: antiquewhite;
  opacity: 0.9;
  height: fit-content;
}
.card-text{
  color: black;
}

#quarterly-row{
  width: 400%;
  position: relative;
  left: -50%;
}

.quarterly-card{
  border: none;
  color: black !important;
}

ul{
  list-style: none;
}

.memo-link{
  color: black;
  text-decoration: underline;
}