.card-img-overlay {
  background-color: antiquewhite;
  opacity: 0.9;
  height: fit-content;
}
.card-text{
  color: black;
}

#quarterly-row{
  width: 267%;
  position: relative;
  left: -50%;
}

.quarterly-card{
  border: none;
  color: black !important;
  margin-top: 4vh;
  margin-bottom: 4vh;
  height: 92vh;
}
.card-img{
  max-height: 100%;
}

ul{
  list-style: none;
}

.memo-link{
  color: black;
  text-decoration: underline;
}
.nav-item{
  margin-right: 1vw;
}